@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Press Start 2P', cursive;
    background: #0F0F0F;
    color: #F8F8F8;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

#root {
    width: 100%;
    height: 100%;
}

img,
canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}